.description {
    position: relative;
    background-color: #000;
    top: 45px;
    z-index: 90;
}

.snapshot {
    position: relative;
    z-index: 1;
}

.description h3 {
    text-align: center;
    color: #FFF;
    font-weight: 900;
}

.horizontal-slideshow img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.slick-arrow {
    z-index: 100;
}

.slick-prev
{
    left: 10px;
}

[dir='rtl'] .slick-prev
{
    right: 10px;
    left: auto;
}

.slick-next
{
    right: 10px;
}

[dir='rtl'] .slick-next
{
    right: auto;
    left: 10px;
}

.main-section {
    color: #000;
    font-weight: 900;
}

.sub-section {
    color: #555;
}

.center {
    text-align: center;
}