.description h4 {
    color: #AAA;
    text-align: center;
}

.horizontal-slideshow img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.slick-arrow {
    z-index: 100;
}

.slick-prev
{
    left: 10px;
}

[dir='rtl'] .slick-prev
{
    right: 10px;
    left: auto;
}

.slick-next
{
    right: 10px;
}

[dir='rtl'] .slick-next
{
    right: auto;
    left: 10px;
}